.logementImg {
    position: relative;
  }
  .carousel {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
  }
  .btnReserverPrev {
    position: absolute;
    transform: rotate(180deg);
    top: 13rem;
    left: 1.6rem;
    width: 47px;
    height: 80px;
  }
  .btnReserverNext {
    position: absolute;
    top: 13rem;
    right: 1.6rem;
    width: 47px;
    height: 80px;
  }
  .countNumber {
    position: absolute;
    bottom: 8%;
    left: 50%;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    width: 24px;
    height: 33px;
  }
  @media (max-width: 768px) {
    .carousel {
      width: 335px;
      height: 255px;
      object-fit: cover;
      border-radius: 10px;
      margin-top: -1em;
    }
    .btnReserverPrev {
      position: absolute;
      transform: rotate(180deg);
      top: 3.5em;
      left: -1em;
      width: 44px;
      height: 80px;
    }
    .btnReserverNext {
      position: absolute;
      top: 6.8em;
      right: -1rem;
      width: 47px;
      height: 80px;
    }
    .prev {
      width: 15px;
    }
    .next {
      width: 15px;
    }
    .countNumber {
      font-size: 0px;
      width: 0px;
    }
  }