.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}
.navLogo {
    width: 200px;
    position: absolute;
    left: 0%;
    top: 0%;
    margin-left: 40px;
}

.navLink {
    font-size: 24px;
    color: #FF6060;
}
.navLink:nth-child(1) {
    margin-right: 50px;
}

.navLink:hover,
.navLink:active {
    border-bottom: 1px solid #FF6060;
}

@media all and (max-width: 1000px) {
    .nav {
        height: 70px;
    }
    .navLogo {
        width: 150px;
        margin-left: 20px;
    }
    .navLink {
        font-size: 18px;
    }
    .navLink:nth-child(1) {
        margin-right: 30px;
    }
}