body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-right: 50px;
  margin-left: 50px;
}

a {
  text-decoration: none;
}

* {
  font-family: Montserrat;
}
@media all and (max-width: 630px) {
  body {
    margin-right: 20px;
    margin-left: 20px;
  }
}

